<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Item</title>
	</head>
	<body>
		<h1>Add a ToDo Item</h1>
		<form action="/items/<%=item._id%>?_method=PUT" method="POST">
			<label for="name">Edit Item</label>
			<input
				type="text"
				name="name"
				placeholder="Enter To-do Item"
				value="<%=item.name %>"
			/>
			<button>Enter</button>
		</form>
		<div><a href="/items">Back to All Items</a></div>
	</body>
</html>
