body{
    background-color: #4E5166;
    color: lightskyblue;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 5px 50px;
 
}

h1, h2{
    text-decoration: underline;
}

a{
    color: white;
}

.completed{
    color: #D5C6E0;
    text-decoration:line-through;
}

/* navbar */
.navbar{
    display: flex;
    background-color: black;
    border-radius: 15px;
    padding: 10px 0px;
   
}

.navbar div{
    flex: 1;
}

.div1{
    text-align: start;
    padding-left: 20px;
}

.div2{
    text-align: end;
    padding-right: 20px;
}

#profile{
    font-weight: bolder;
}

li > p{
    margin: 0;
    margin-bottom: 5px;
}

li{
    margin: 0;
    margin-bottom: 5px;  
}

