<%- include("../partials/header.ejs") %> 
</html>
	<body>
		<h1>All Items</h1>
	
		<ul class = "uncompleted">
			<% for (let item of items) {%>
			<li><a href="/items/<%= item.id %>"><%= item.name %></a> <span data-id="<%=item.id %>">&#9744;</span></li>
			<% } %>
		</ul>
		<a href="/items/new">Add Item</a>

		<h2>Completed Items</h2>
		<ul class="complete">
	
		</ul>

		<script src="/js/app.js"></script>
	</body>
</html>
