<%- include("../partials/header.ejs") %> 
	<body>
		<h1>Add a ToDo Item</h1>
		<form action="/items" method="POST">
			<label for="name">New Item</label>
			<input type="text" name="name" placeholder="Enter To-do Item" />
			<button>Enter</button>
		</form>
		<div><a href="/items">Back to All Items</a></div>

	</body>
</html>
