<%- include("../partials/header.ejs") %> 
	<body>
		<h1>Add a Project</h1>
		<form action="/projects" method="POST">
			<label for="name">New Project</label>
			<input type="text" name="name" placeholder="Enter Project Name" />
			<button>Enter</button>
		</form>
		<div><a href="/projects">Back to All Projects</a></div>

	</body>
</html>
