<%- include("../partials/header.ejs") %> 
	<body>
		<h1><%= project.name %></h1>

		<a href="/projects">All Projects</a>
		<a href="/projects/<%= project.id %>/edit">Edit Item</a>
		<form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>

	</body>
</html>
